* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body,
html {
    overflow-x: visible;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
}
a {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    text-decoration: none;
}
a:focus {
    outline: none !important;
}
a:hover {
    color: #fc00ff;
    border-color: #fc00ff;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}
p {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666;
    margin: 0px;
}
ul,
li {
    margin: 0px;
    list-style-type: none;
}
textarea,
input,
select {
    outline: none;
    border: none;
}
textarea:focus,
input:focus,
select:focus {
    outline: none !important;
}
input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
}
input:focus::-moz-placeholder {
    color: transparent;
}
input:focus:-ms-input-placeholder {
    color: transparent;
}
textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
textarea:focus:-moz-placeholder {
    color: transparent;
}
textarea:focus::-moz-placeholder {
    color: transparent;
}
textarea:focus:-ms-input-placeholder {
    color: transparent;
}
input::-webkit-input-placeholder {
    color: #555;
}
input:-moz-placeholder {
    color: #555;
}
input::-moz-placeholder {
    color: #555;
}
input:-ms-input-placeholder {
    color: #555;
}
textarea::-webkit-input-placeholder {
    color: #555;
}
textarea:-moz-placeholder {
    color: #555;
}
textarea::-moz-placeholder {
    color: #555;
}
textarea:-ms-input-placeholder {
    color: #555;
}
label {
    display: block;
    margin: 0;
}
button {
    outline: none !important;
    border: none !important;
    background: transparent;
}
button:hover {
    cursor: pointer;
}
iframe {
    border: none !important;
}
.Wrapper {
    display: block;
    position: relative;
    width: 100%;
}

::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
    background: #525965;
}
::-webkit-scrollbar-thumb:active {
    background: #525965;
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
    background: transparent;
}
::-webkit-scrollbar-track:active {
    background: transparent;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
